section{
    width: 80%;
    height: 500px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNxAwPzLlSzRUPAA24YKe_E_Ces7PMiKIZ5A&usqp=CAU);
    background-size: cover;
    background-position: center;
    margin: 0 auto;

    
}

h1{
    font-size: 80px;
    color: yellow;
    text-align: center;
}