body{
    font-family: 'Roboto', sans-serif;
}

main{
    width: 60%;
    margin: 0 auto;
}

h1{
    font-weight: 400;
}

h1,h2,h3{
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Times New Roman', Times, serif;
}